
.shc {
    /*remove a margem das colunas e row*/
    margin: 0;
    padding: 0;
}

#Barra {
    border-bottom: 1px black solid;
    width: 100%;
    height: 16.5%;
    position:absolute;
    top:1px;
    left:1px;

}
#Cadastro {
    width: -10px;
    height: -100px;
    position:relative;
    top:150px;
    left:50px;
}
#Opcoes{
    position:absolute;
    top:350px;
    left:-35px;

}
#Btn-Opcao{
    top: 100%;
    left: 75%;
}
#tabela-familia{
    margin-top: 2%;
}
#ModalLabel{
    margin-left: 94%;
}
#logo{
    border-bottom: 1px black solid;
    width: 100%;
    height: 16.5%;
    position:absolute;
    top:1px;
    left:1px;
}
#Tabela{
    width: -10px;
    height: -100px;
    position:relative;
    top:150px;
    left:50px;
}
#Campos{
    width: -10px;
    height: -100px;
    position:relative;
    top:150px;
    left:50px;
    margin-right: 4%;
}
#Btn-ADC{
    top: 90%;
    left: 85%;
}
/*=====================================================================================================================/*
    Fonte: Style.css 
    Motivo: Responsável pelo layout da pagina e as animações correspondentes.
    Data: 18/04/2023
    Programadorre(As): Giulliana Yamaguchi Tavares
/*=====================================================================================================================*/

.gradient-custom-2 {
    /* fallback for old browsers */
    background-color: rgb(0, 161, 164);
    }
    
    @media (min-width: 300px) {
    .gradient-form {
    height: 85vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

.input-form{
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 50px;
    margin-top: 2%;
    background-size: 5%;
}
.Signup{
    position: absolute;
}
.Signin{
    position: absolute;
}
.visible{
    opacity: 0;
    z-index: -1;
}

.senha{
    background-image: url(../img/password.png);
}
.usuario{
    background-image: url(../img/user.png);
}
.email{
    background-image: url(../img/email.png);
}
.ender{
    background-image: url(../img/endereço.png);
}
.cargo{
    background-image: url(../img/cargo.png);
}
.button{
    width:  100%;
}
#textocenter{
    margin: auto;   
    text-align: center;
    align-items: center;
}
#corpologin{
    text-align: center;
    align-items: center;
    margin: auto;
    color: white;
}

body {
    min-width: 372px;
}

.wrapper {
    min-height: 100vh;
}

p.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 469px) {
    .mt-xs-3 {
        margin-top: 1rem;
    }
}

label:hover .text-dark {
    transition: color 0.2s ease;
    color: white !important;
}

label .text-dark {
    transition: color 0.2s ease;
}

.btn-check:checked+.btn-outline-danger .text-dark,
.btn-check:active+.btn-outline-danger .text-dark,
.btn-check:hover+.btn-outline-danger .text-dark {
    transition: color 0.2s ease;
    color: white !important;
}

.flex-even {
    flex: 1;
    min-width: 300px;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #dc3545;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");    
}

fieldset.row .form-floating>label {
    margin-left: calc(var(--bs-gutter-x) * 0.5);
}
