@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
 }
.content{
    border-radius: 15px;
    background-color: #fff;
    width: 960px;
    height: 50%;
    justify-content: space-between;    
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: rgb(0, 161, 164);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 1s;
    left: 0;
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-Primary{
    color: #fff;
}
.title-Second{
    color: rgb(0, 161, 164);
}
.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
.description-Primary{
    color: #fff;
}
.description-Second{
    color: #7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: none;
    margin-top: 1rem;
}
.btn-Primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-Primary:hover{
    background-color: #fff;
    color:rgb(0, 161, 164)
}
.btn-Second{
    background-color: rgb(0, 161, 164);
    border: 1px solid rgb(0, 161, 164);
    transition: background-color .5s;
}
.btn-Second:hover{
    background-color: #fff;
    border: 1px solid rgb(0, 161, 164);
    color:rgb(0, 161, 164)
}
.first-content{  
    display: flex;
}
.first-content .second-colum{
    z-index: 11;
}
.first-colum{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-colum{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    margin: 1rem 0;
}
.link-social-media:hover .item-social-media{
    background-color: rgb(0, 161, 164);
    color: #fff;
    border: rgb(0, 161, 164);
}
.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media{
    transition: background-color .5s;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
   height: 45px;
   width: 100%;
   border: none;
   background-color: #ecf0f1;

}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify{
    color: #7f8c8d;
    padding: 5px;
}

/* Second Content */
.second-content{
    position: absolute;
    display: flex;
}
.second-content .first-colum{
    order: 2;
    z-index: -1;
}
.second-content .second-colum{
    order: 1;
    z-index: -1;
}
.password{
    color: rgb(0, 161, 164);
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter{
    text-transform: capitalize;
}
.sign-in-js .first-content .first-colum,
.sign-in-js .first-content .second-colum{
    z-index: -1;
}

.sign-in-js .second-content .first-colum,
.sign-in-js .second-content .second-colum{
    transition: 10s;
    z-index: 11;
}

.sign-in-js .content::before{
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius:  15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sign-up-js .second-content .first-colum,
.sign-up-js .second-content .second-colum{
    z-index: -1;
}
.sign-up-js .first-content .first-colum,
.sign-up-js .first-content .second-colum{
    transition: 4s;
    z-index: 11;
    
}
